.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > div {
  padding-left: 20px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
}

input {
  border: 2px solid black;
  padding: 10px 5px;
  font-size: 1.2rem;
  width: 50%;
  border-radius: 5px;
  margin-bottom: 5px;
}

button {
  margin-right: 10px;
  background-color: white;
  border-radius: 12px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: purple;
  color: white;
  border: 1px purple solid;
}

p {
  font-size: 1.4rem;
  font-weight: bold;
}
